<%= tag.dialog id: element_id,
               class: locals.fetch(:class, "bit-popover-content"),
               popover: :auto do %>
  <%= tag.button type: :button,
                 class: :close,
                 popovertarget: element_id,
                 popovertargetaction: :hide,
                 "aria-label" => "Close dialog" do %>
    <span aria-hidden=true>&times;</span>
    <span class="screen_reader">Close</span>
  <% end %>

  <h1 class="label"><%= label %></h1>

  <%= yield %>
<% end %>
