<dialog id="<%= element_id %>"
        class="bit-popover-content bit-popover-screen"
        popover="auto">
  <figure>
    <%= tag.img src: uri, alt: label, width: width, height: height, loading: :lazy %>
    <figcaption><%= label %></figcaption>
  </figure>

  <p class="brand">
    <%= image_tag "logo/with_label.svg", alt: "Logo with Label", width: 150, height: 75 %>
  </p>
</dialog>
