<%= scope(:popover_default_content, name: :ip_addresses, label: "IP Addresses").render do %>
  <p>These are the Internet Protocol (IP) addresses of this server. Use the API address to connect all devices to this server since this is the value defined by your <code>API_URI</code> environment variable.</p>
<% end %>

<%= scope(:popover_default_content, name: :firmware, label: "Firmware").render do %>
  <p>Provides direct access to the latest firmware version along with additional tools for managing your firmware.</p>
<% end %>
