<%= scope(:popover_default_content, name: :allowed_palettes, label: "Allowed Palettes").render do %>
  <p>The allowed palettes which define greys, colors, and associated <a href="https://trmnl.com/framework">TRMNL Framework</a> classes. This information is provided by the <a href="https://github.com/usetrmnl/trmnl-api?tab=readme-ov-file#palettes">TRMNL Palettes API</a> (unless customized) and mostly used by <%= link_to "Extensions", routes.path(:extensions) %> to render screens specific to your device.</p>
<% end %>
