<%= scope(:popover_default_content, name: :default_palette, label: "Default Palette").render do %>
  <p>The default palette used when rendering a screen on your device. Use this to adjust greys, colors, and associated <a href="https://trmnl.com/framework">TRMNL Framework</a> classes for your <%= link_to "Extensions", routes.path(:extensions) %>.</p>
<% end %>
