<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta charset="utf-8">

    <style type="text/css">
      * {
        margin: 0;
      }

      :where(html) {
        font-family: Verdana;
      }

      :where(body) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
      }

      .page {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding: 1.5rem;
      }

      .description {
        font-size: 1.5rem;
      }
    </style>
  </head>

  <body>
    <main class="page">
      <h1>Welcome to the Terminus designer!</h1>

      <p class="description">Edit the source code to rapidly tinker with different designs. This preview screen will dynamically update as you make changes. Enjoy!</p>
    </main>
  </body>
</html>
