<%= scope(:popover_default_content, name: :import, label: "Import").render do %>
  <%= form_for :extension,
               routes.path(:extension_import),
               enctype: "multipart/form-data",
               class: "bit-form",
               **HTMX[
                 post: routes.path(:extension_import),
                 encoding: "multipart/form-data",
                 trigger: :change,
                 target: ".site-body",
                 select: ".site-body"
               ] do |form| %>

    <p>Please attach a zip file to import a previously exported extension into your collection.</p>

    <%= form.file_field :attachment,
                        id: :extension_attachment,
                        value: nil,
                        class: :value,
                        accept: "application/zip" %>
  <% end %>
<% end %>
