.bit-button, .bit-button-accept, .bit-button-decline, .bit-button-delete {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem 1rem;

  &:disabled {
    background-color: var(--site-darkgrey);
    cursor: not-allowed;
  }
}

.bit-button-new {
  &:active, &:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(120deg) brightness(104%) contrast(103%);
  }
}

.bit-button-accept {
  background-color: var(--site-orange);
  border-radius: 1.5rem;
  color: var(--site-white);

  &:not(:disabled):hover {
    background-color: var(--site-darkorange);
    text-decoration: none;
  }

  .icon {
    filter: invert(1);
  }
}

.bit-button-decline {
  background-color: var(--site-silver);
  border-radius: 1.5rem;
  color: var(--site-black);

  &:not(:disabled):hover {
    background-color: var(--site-lightgrey);
    text-decoration: none;
  }
}

.bit-button-delete {
  padding: 0;

  &:active, &:hover {
    .icon {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(103%);
    }
  }
}
