.bit-definition-list {
  display: grid;
  grid-template: auto / auto 1fr;

  .key, .value {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    padding: 0.4rem;
  }

  .key {
    align-items: center;
    background-color: var(--site-silver);
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    font-weight: 400;
    justify-content: flex-end;
  }

  .value {
    background-color: var(--site-ghost);
    border-radius: 0rem 0.5rem 0.5rem 0;
    font-weight: 350;
  }
}

