<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta charset="utf-8">

    <style type="text/css">
      * {
        margin: 0;
      }

      :where(html) {
        font-family: Verdana;
        font-size: clamp(0.9rem, 0.8rem + 1vw, 2rem);
      }

      :where(body) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        font-size: 1.5rem;
      }

      :where(main) {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding: 1.5rem;
      }
    </style>
  </head>

  <body>
    <main>
      <h1>Getting Started</h1>

      <p>Edit the source code to iterate with different designs. This preview screen will update as you save changes. Enjoy!</p>
    </main>
  </body>
</html>
