<%= scope(:popover_default_content, name: :headers, label: "Headers").render do %>
  <p>Allows you to configure the appropriate HTTP headers necessary for making HTTP requests. These are optional but definitely useful when you need specific behavior. Otherwise, all headers will default to what is supplied by the server response.</p>

  <p>For example, when requesting raw content (or <a href="https://gist.github.com">gists</a>) from <a href="https://github.com">GitHub</a>, you'll always get <code>text/plain</code> as the MIME Type despite the URL ending in <code>*.cvs</code>, <code>*.json</code>, or some other format. To prevent this, add a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Accept">Accept</a> header to ensure the HTTP response is parsed in the desired format (MIME Type).

  <pre>
    {
      "accept": "application/json"
    }</pre>

  You're also not limited to single headers, you can comma delimit each different HTTP header as desired within the JSON object shown above.
  </p>
<% end %>
