<%= scope(:popover_default_content, name: :template, label: "Template").render do %>
  <p>The <%= link_to "Liquid", "https://shopify.github.io/liquid" %> template for making HTTP requests.</p>
<% end %>
