<%= scope(:popover_default_content, name: :api_key, label: "API Key").render do %>
  <p>Used for Display API requests to authenticate between server and device after the device has been provisioned.</p>
<% end %>
