<%= scope(:popover_default_content, name: :firmware_profile, label: "Firmware Profile").render do %>
  <p>Determines whether the firmware supports display profiles. This is set by the firmware only. When <code>true</code>, use the <em>Display Profile</em> to adjust behavior.</p>

  <p><em>Cannot be edited</em>.</p>
<% end %>
