<%= scope(:popover_default_content, name: :image_cached, label: "Image Cached").render do %>
  <p>Indicates if the image on the device is rendered from cache (true) or is fresh (false).</p>

  <p><em>Cannot be edited</em>.</p>
<% end %>
