<%= scope(:popover_default_content, name: :touch_bar, label: "Touch Bar").render do %>
  <p>Allows you to control touch bar gesture behavior on devices that support touch bars. Default: Tap.</p>

  <ul>
    <li><strong>Tap</strong>: Enables tap gestures.</li>
    <li><strong>Swipe</strong>: Enables swipe gestures.</li>
  </ul>
<% end %>
