<%= scope(:popover_default_content, name: :wake_duration, label: "Wake Duration").render do %>
  <p>The time, in seconds, since last battery cycle. This information is only provided by the device.</p>
  <p><em>Cannot be edited</em>.</p>
<% end %>
