<%= scope(:popover_default_content, name: :wake_reason, label: "Wake Reason").render do %>
  <p>Explains why the device was awoken from sleep. This information is only provided by the device and is updated each time the device wakes up.</p>

  <p><em>Cannot be edited</em>.</p>
<% end %>
