<% uri = routes.path(:playlist_item, playlist_id: item.playlist_id, id: item.id) %>

<%= form_for :playlist_item, uri, method: :put, class: "bit-form" do |form| %>
  <%= render :fields, form:, screen_options:, item:, fields: fields.value, errors: %>

  <div class="form-actions">
    <%= form.submit "Save",
                    class: "bit-button-accept",
                    **HTMX[
                      put: uri,
                      target: "closest .bit-form",
                      disabled_elt: "this"
                    ] %>

    <%= link_to "Cancel",
                uri,
                class: "bit-link-cancel",
                **HTMX[get: uri, target: "closest .bit-form"] %>
  </div>
<% end %>
