<div class="items">
  <h2 class="label">Items</h2>

  <% if items.any? %>
    <% items.each do |item| %>
      <%= item.render :item %>
    <% end %>
  <% end %>

  <%= link_to "Add Item",
              routes.path(:playlist_item_new, playlist_id: playlist_id),
              class: "bit-button-accept",
              **HTMX[
                get: routes.path(:playlist_item_new, playlist_id: playlist_id),
                trigger: "click, keyup[ctrlKey&&key=='n'] from:body",
                target: :this,
                swap: :beforebegin
              ] %>
</div>
