<%= form_for :playlist_item,
             routes.path(:playlist_item_new, playlist_id: playlist.id),
             class: "bit-form",
             **HTMX[ext: :remove] do |form| %>
  <%= render :fields, form:, screen_options:, item:, fields: fields.value, errors: %>

  <div class="form-actions">
    <%= form.submit "Save",
                    class: "bit-button-accept",
                    **HTMX[
                      post: routes.path(:playlist_items, playlist_id: playlist.id),
                      target: "closest .bit-form",
                      disabled_elt: "this"
                    ] %>

    <%= tag.button "Cancel", class: "bit-button-decline", data: {remove: true} %>
  </div>
<% end %>
